body {
	background: #222222
}

/* body {
    font-size: 24px;
} */

h1 {
	color: rgb(255, 111, 0)
}

table {
    width: 80%; /* Set the table width */
    margin: 0 auto; /* Center the table */
    border-collapse: collapse; /* Collapse borders */
    border-spacing: 1px;
}
th, td {
    padding: 10px; /* Add padding to cells */
    text-align: left; /* Align text to the left */
}
th, td {
    background-color: #ffffff; /* Light gray background for header */
}


.square {
	width: 30%;
	background-color: purple;
	margin: 1.66%;
	padding-bottom: 30%;
	float: left;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

#smallcont{
	height: 10px;
	color: white;
	text-align: center;
	padding-bottom: 10px;
	font-size: 20px;
}

#try {
	color: white;
}
